.banner{
    position: relative;
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.RG58DaO7kXIPA2oTSLS6kAHaE8&pid=Api&P=0&h=180);
    background-position: center;
    background-size:cover ;
    height: 400px;
    color: white;
}